CONFIG_MIPS=y
CONFIG_ARCH_LANTIQ=y
CONFIG_SOC_XWAY_DANUBE=y
CONFIG_TARGET_EASY50712=y
CONFIG_LANTIQ_BOOT_RAM=y

CONFIG_DM=y
CONFIG_DM_SERIAL=y
CONFIG_LANTIQ_SERIAL=y

# CONFIG_CMD_BOOTM is not set
# CONFIG_CMD_GO is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_CRC32 is not set
